# En este ejercicio vamos a trabajar con un Dataframe.

Un **DataFrame** en python es un objeto como una tabla de excel, que consta de filas y columnas, .

 - En ML cada **columna** es una **label o feature**, 
 - y cada **fila** un **elemento de una clase**.
 
<br>
 
<div class="alert alert-block alert-info">
Los dataframe se puede cargar desde ficheros csv, xls ,xlsx, json o una table .html entre otros.
</div>

In [11]:
! # Instalamos el paquete desde el interprete de comandos, porque no se encuentra en el container
! pip install lxml pandas_ml 1>/dev/null

You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [14]:


import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import html5lib
from sklearn.cross_validation import train_test_split #to split the dataset for training and testing
from sklearn                  import svm ,  metrics
from sklearn.metrics        import mean_squared_error

#df = pd.read_html("http://www.mundodeportivo.com/resultados/futbol/laliga/clasificacion.html")[0]

#########################################
### Cargamos el DataFrame, desde un csv.
#########################################
df = pd.read_csv("datasets/equipos.csv")

df

             Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS
0         Barcelona  31  24   7   0  79  16   63   79
1   Atlético Madrid  31  20   8   3  51  15   36   68
2          Valencia  31  20   5   6  59  31   28   65
3       Real Madrid  31  19   7   5  77  34   43   64
4             Betis  31  15   4  12  52  53   -1   49
5        Villarreal  31  14   5  12  41  37    4   47
6           Sevilla  31  14   4  13  39  50  -11   46
7            Girona  31  12   8  11  44  48   -4   44
8             Celta  31  12   7  12  50  43    7   43
9             Eibar  31  11   7  13  36  45   -9   40
10           Getafe  31  10   9  12  35  30    5   39
11         Athletic  31   9  12  10  33  35   -2   39
12    Real Sociedad  31  10   7  14  56  52    4   37
13          Leganés  31  10   6  15  26  39  -13   36
14         Espanyol  31   8  12  11  26  38  -12   36
15           Alavés  31  11   2  18  28  45  -17   35
16          Levante  31   6  13  12  28  45  -17   31
17        Deportivo  31   5   8  18  29  63  -34   23
18       Las Palmas  31   5   6  20  22  63  -41   21
19           Málaga  31   4   5  22  19  48  -29   17

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Equipo</th>
      <th>PJ</th>
      <th>PG</th>
      <th>PE</th>
      <th>PP</th>
      <th>GF</th>
      <th>GC</th>
      <th>DIF</th>
      <th>PTS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Barcelona</td>
      <td>31</td>
      <td>24</td>
      <td>7</td>
      <td>0</td>
      <td>79</td>
      <td>16</td>
      <td>63</td>
      <td>79</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Atlético Madrid</td>
      <td>31</td>
      <td>20</td>
      <td>8</td>
      <td>3</td>
      <td>51</td>
      <td>15</td>
      <td>36</td>
      <td>68</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Valencia</td>
      <td>31</td>
      <td>20</td>
      <td>5</td>
      <td>6</td>
      <td>59</td>
      <td>31</td>
      <td>28</td>
      <td>65</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Real Madrid</td>
      <td>31</td>
      <td>19</td>
      <td>7</td>
      <td>5</td>
      <td>77</td>
      <td>34</td>
      <td>43</td>
      <td>64</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Betis</td>
      <td>31</td>
      <td>15</td>
      <td>4</td>
      <td>12</td>
      <td>52</td>
      <td>53</td>
      <td>-1</td>
      <td>49</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Villarreal</td>
      <td>31</td>
      <td>14</td>
      <td>5</td>
      <td>12</td>
      <td>41</td>
      <td>37</td>
      <td>4</td>
      <td>47</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Sevilla</td>
      <td>31</td>
      <td>14</td>
      <td>4</td>
      <td>13</td>
      <td>39</td>
      <td>50</td>
      <td>-11</td>
      <td>46</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Girona</td>
      <td>31</td>
      <td>12</td>
      <td>8</td>
      <td>11</td>
      <td>44</td>
      <td>48</td>
      <td>-4</td>
      <td>44</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Celta</td>
      <td>31</td>
      <td>12</td>
      <td>7</td>
      <td>12</td>
      <td>50</td>
      <td>43</td>
      <td>7</td>
      <td>43</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Eibar</td>
      <td>31</td>
      <td>11</td>
      <td>7</td>
      <td>13</td>
      <td>36</td>
      <td>45</td>
      <td>-9</td>
      <td>40</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Getafe</td>
      <td>31</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>35</td>
      <td>30</td>
      <td>5</td>
      <td>39</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Athletic</td>
      <td>31</td>
      <td>9</td>
      <td>12</td>
      <td>10</td>
      <td>33</td>
      <td>35</td>
      <td>-2</td>
      <td>39</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Real Sociedad</td>
      <td>31</td>
      <td>10</td>
      <td>7</td>
      <td>14</td>
      <td>56</td>
      <td>52</td>
      <td>4</td>
      <td>37</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Leganés</td>
      <td>31</td>
      <td>10</td>
      <td>6</td>
      <td>15</td>
      <td>26</td>
      <td>39</td>
      <td>-13</td>
      <td>36</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Espanyol</td>
      <td>31</td>
      <td>8</td>
      <td>12</td>
      <td>11</td>
      <td>26</td>
      <td>38</td>
      <td>-12</td>
      <td>36</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Alavés</td>
      <td>31</td>
      <td>11</td>
      <td>2</td>
      <td>18</td>
      <td>28</td>
      <td>45</td>
      <td>-17</td>
      <td>35</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Levante</td>
      <td>31</td>
      <td>6</td>
      <td>13</td>
      <td>12</td>
      <td>28</td>
      <td>45</td>
      <td>-17</td>
      <td>31</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Deportivo</td>
      <td>31</td>
      <td>5</td>
      <td>8</td>
      <td>18</td>
      <td>29</td>
      <td>63</td>
      <td>-34</td>
      <td>23</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Las Palmas</td>
      <td>31</td>
      <td>5</td>
      <td>6</td>
      <td>20</td>
      <td>22</td>
      <td>63</td>
      <td>-41</td>
      <td>21</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Málaga</td>
      <td>31</td>
      <td>4</td>
      <td>5</td>
      <td>22</td>
      <td>19</td>
      <td>48</td>
      <td>-29</td>
      <td>17</td>
    </tr>
  </tbody>
</table>

In [ ]:
print(df.describe())
# Sacar las distribuciones de cada columna
import matplotlib.pyplot as plt
pd.options.display.mpl_style = 'default'

print ("hola")

In [ ]:
# Guardar a fichero
df.to_csv("datasets/equipos.csv", encoding='utf-8', index=False)

In [9]:
# Se puede pasar comandos a la shell, si anteponemos el caracter "!"
! pwd
! ls -altr 
! head -3 equipos.csv

/Users/jaimevalero/git/python-machine-learning-book-2nd-edition/ejercicios
total 9032
drwxr-xr-x   5 jaimevalero  staff      160 14 abr 19:31 .ipynb_checkpoints
-rw-r--r--   1 jaimevalero  staff    58142 27 abr 16:58 Ejercicio 0 - Soluciones.ipynb
-rw-r--r--   1 jaimevalero  staff    52646 27 abr 16:58 Ejercicio 1 - Primer modelo.ipynb
-rw-r--r--   1 jaimevalero  staff    18447 27 abr 16:58 Ejercicio 1 - Soluciones.ipynb
-rw-r--r--   1 jaimevalero  staff  1933843 27 abr 16:58 Ejercicio 2 - Feature importances.ipynb
-rw-r--r--   1 jaimevalero  staff   105970 27 abr 16:58 Ejercicio 3 - Decission trees.ipynb
-rw-r--r--   1 jaimevalero  staff   251140 27 abr 16:58 Ejercicio 4 - Dealing with missing data.ipynb
-rw-r--r--   1 jaimevalero  staff  1738984 27 abr 16:58 Ejercicio 5 - Comparativa de clasificadores.ipynb
-rw-r--r--   1 jaimevalero  staff   122962 27 abr 16:58 Ejercicio 6 - Best Practices - Grid Search.ipynb
-rw-r--r--   1 jaimevalero  staff    30721 27 abr 16:58 Keras_iris.ipynb
-rw-r--r--   1 jaimevalero  staff    25749 27 abr 16:58 Untitled.ipynb
-rw-r--r--   1 jaimevalero  staff     7132 27 abr 16:58 Untitled2.ipynb
-rw-r--r--   1 jaimevalero  staff      555 27 abr 16:58 Untitled3.ipynb
-rw-r--r--   1 jaimevalero  staff    19119 27 abr 16:58 auto labelling.ipynb
-rw-r--r--   1 jaimevalero  staff     3634 27 abr 16:58 collab-Untitled5.ipynb
drwxr-xr-x  10 jaimevalero  staff      320 27 abr 16:58 datasets
drwxr-xr-x   7 jaimevalero  staff      224 27 abr 16:58 images
-rw-r--r--   1 jaimevalero  staff    94208 27 abr 16:58 jupyterhub.sqlite
-rw-r--r--   1 jaimevalero  staff       65 27 abr 16:58 jupyterhub_cookie_secret
drwxr-xr-x  15 jaimevalero  staff      480 27 abr 16:58 ..
-rw-r--r--   1 jaimevalero  staff     5327 27 abr 21:21 Ejercicio 7 - Best Practices - Auto select.ipynb
-rw-r--r--   1 jaimevalero  staff    65820 27 abr 21:21 Ejercicio 8 - Best Practices - Ensembling.ipynb
-rw-r--r--   1 jaimevalero  staff      835 27 abr 21:21 tpot_iris_pipeline.py
-rw-r--r--   1 jaimevalero  staff    43791 27 abr 21:52 Ejercicio 0 - Manejo DataFrame.ipynb
drwxr-xr-x  25 jaimevalero  staff      800 27 abr 21:52 .
head: equipos.csv: No such file or directory

In [59]:
#Coger las columnas
df.columns

Index(['Equipo', 'PJ', 'PG', 'PE', 'PP', 'GF', 'GC', 'DIF', 'PTS'], dtype='object')

In [4]:
# Coger los dos primeros campos
df.head(2)

            Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS
0        Barcelona  31  24   7   0  79  16   63   79
1  Atlético Madrid  31  20   8   3  51  15   36   68

In [16]:
# Coger una columna
df.Equipo.tail(5)

15        Alavés
16       Levante
17     Deportivo
18    Las Palmas
19        Málaga
Name: Equipo, dtype: object

In [8]:
# Crear una columna
df["Posicion"] = range(1,21)
df

             Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS  Posicion
0         Barcelona  31  24   7   0  79  16   63   79         1
1   Atlético Madrid  31  20   8   3  51  15   36   68         2
2          Valencia  31  20   5   6  59  31   28   65         3
3       Real Madrid  31  19   7   5  77  34   43   64         4
4             Betis  31  15   4  12  52  53   -1   49         5
5        Villarreal  31  14   5  12  41  37    4   47         6
6           Sevilla  31  14   4  13  39  50  -11   46         7
7            Girona  31  12   8  11  44  48   -4   44         8
8             Celta  31  12   7  12  50  43    7   43         9
9             Eibar  31  11   7  13  36  45   -9   40        10
10           Getafe  31  10   9  12  35  30    5   39        11
11         Athletic  31   9  12  10  33  35   -2   39        12
12    Real Sociedad  31  10   7  14  56  52    4   37        13
13          Leganés  31  10   6  15  26  39  -13   36        14
14         Espanyol  31   8  12  11  26  38  -12   36        15
15           Alavés  31  11   2  18  28  45  -17   35        16
16          Levante  31   6  13  12  28  45  -17   31        17
17        Deportivo  31   5   8  18  29  63  -34   23        18
18       Las Palmas  31   5   6  20  22  63  -41   21        19
19           Málaga  31   4   5  22  19  48  -29   17        20

In [13]:
# Coger rango de celdas por su posicion
df.iloc[0:5,0:3]

            Equipo  PJ  PG
0        Barcelona  31  24
1  Atlético Madrid  31  20
2         Valencia  31  20
3      Real Madrid  31  19
4            Betis  31  15

In [38]:
# Seleccionar filas según condiciones
# Coger solo aquellos equipos con mas goles a favor que en contra
df.loc[df['GF'] > df['GC']]

0      True
1      True
2      True
3      True
4     False
5      True
6     False
7     False
8      True
9     False
10     True
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [10]:
# Primera fila
df.iloc[0]

Equipo    Barcelona
PJ               31
PG               24
PE                7
PP                0
GF               79
GC               16
DIF              63
PTS              79
Name: 0, dtype: object

In [32]:
# Volcar elemento a dicccionario 
dict = df.iloc[0].to_dict()
print(dict)

{'Equipo': 'Barcelona', 'PJ': 31, 'PG': 24, 'PE': 7, 'PP': 0, 'GF': 79, 'GC': 16, 'DIF': 63, 'PTS': 79}

In [46]:
# Creamos un nuevo elemento, tambien vía diccionario
# Primero creamos un diccionario
nuevo_equipo = {'Equipo': 'Broncos de Denver',
                'PJ': 1,
                'PG': 0, 
                'PE': 0,
                'PP': 1,
                'GF': 7, 
                'GC': 1, 
                'DIF': 6,
                'PTS': 3
               }


# Creamos un dataframe del dccionario
df_new_team = pd.DataFrame(nuevo_equipo, index=['21',])


df_new_team

    DIF             Equipo  GC  GF  PE  PG  PJ  PP  PTS
21    6  Broncos de Denver   1   7   0   0   1   1    3

In [48]:
# Concatenamos el nuevo diccionario
pd.concat([df, df_new_team], ignore_index=True)

    DIF             Equipo  GC  GF  PE  PG  PJ  PP  PTS
0    63          Barcelona  16  79   7  24  31   0   79
1    36    Atlético Madrid  15  51   8  20  31   3   68
2    28           Valencia  31  59   5  20  31   6   65
3    43        Real Madrid  34  77   7  19  31   5   64
4    -1              Betis  53  52   4  15  31  12   49
5     4         Villarreal  37  41   5  14  31  12   47
6   -11            Sevilla  50  39   4  14  31  13   46
7    -4             Girona  48  44   8  12  31  11   44
8     7              Celta  43  50   7  12  31  12   43
9    -9              Eibar  45  36   7  11  31  13   40
10    5             Getafe  30  35   9  10  31  12   39
11   -2           Athletic  35  33  12   9  31  10   39
12    4      Real Sociedad  52  56   7  10  31  14   37
13  -13            Leganés  39  26   6  10  31  15   36
14  -12           Espanyol  38  26  12   8  31  11   36
15  -17             Alavés  45  28   2  11  31  18   35
16  -17            Levante  45  28  13   6  31  12   31
17  -34          Deportivo  63  29   8   5  31  18   23
18  -41         Las Palmas  63  22   6   5  31  20   21
19  -29             Málaga  48  19   5   4  31  22   17
20    6  Broncos de Denver   1   7   0   0   1   1    3

### Ejercicio.
 
 - Añadir una columna resultado, que tenga los valores
 
 "Champions League" , para los 4 primeros
 "Europa League"    , Para los 2 siguientes
 "Descenso"         , para los 4 últimos
 "Zona fría"        , para los demas.