# En este ejercicio vamos a trabajar con un Dataframe.

Un **DataFrame** en python es un objeto como una tabla de excel, que consta de filas y columnas, .

 - En ML cada **columna** es una **label o feature**, 
 - y cada **fila** un **elemento de una clase**.
 
<br>
 
<div class="alert alert-block alert-info">
Los dataframe se puede cargar desde ficheros csv, xls ,xlsx, json o una table .html entre otros.
</div>

In [11]:
! # Instalamos el paquete desde el interprete de comandos, porque no se encuentra en el container
! pip install lxml pandas_ml 1>/dev/null

You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:


import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import html5lib
from sklearn.cross_validation import train_test_split #to split the dataset for training and testing
from sklearn                  import svm ,  metrics
from sklearn.metrics        import mean_squared_error

df = pd.read_html("http://www.mundodeportivo.com/resultados/futbol/laliga/clasificacion.html")[0]

#########################################
### Cargamos el DataFrame, desde un csv.
#########################################
#df = pd.read_csv("datasets/equipos.csv")

df

/Users/jaimevalero/miniconda3/envs/flask/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

             Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS
0         Barcelona  36  27   9   0  94  24   70   90
1   Atlético Madrid  36  22   9   5  55  20   35   75
2       Real Madrid  36  21   9   6  86  42   44   72
3          Valencia  36  20   7   9  62  37   25   67
4             Betis  36  18   5  13  56  56    0   59
5        Villarreal  36  17   6  13  51  46    5   57
6           Sevilla  36  16   6  14  46  56  -10   54
7            Getafe  36  14  10  12  41  32    9   52
8            Girona  36  13   9  14  48  57   -9   48
9             Eibar  36  13   8  15  41  48   -7   47
10    Real Sociedad  36  13   7  16  63  56    7   46
11            Celta  36  12  10  14  55  52    3   46
12           Alavés  36  14   2  20  37  48  -11   44
13         Athletic  36  10  13  13  40  45   -5   43
14         Espanyol  36  10  13  13  31  41  -10   43
15          Levante  36  10  13  13  37  50  -13   43
16          Leganés  36  11   7  18  29  46  -17   40
17        Deportivo  36   6  11  19  35  70  -35   29
18       Las Palmas  36   5   7  24  23  71  -48   22
19           Málaga  36   5   5  26  23  56  -33   20

In [7]:
# Guardar a fichero
df.to_csv("datasets/equipos.csv", encoding='utf-8', index=False)

In [8]:
# Se puede pasar comandos a la shell, si anteponemos el caracter "!"
! pwd
! ls -altr 
! head -3 equipos.csv

/Users/jaimevalero/git/python-machine-learning-book-2nd-edition/ejercicios
total 11104
-rw-r--r--   1 jaimevalero  staff    58142 27 abr 16:58 Ejercicio 0 - Soluciones.ipynb
-rw-r--r--   1 jaimevalero  staff    18447 27 abr 16:58 Ejercicio 1 - Soluciones.ipynb
-rw-r--r--   1 jaimevalero  staff   105970 27 abr 16:58 Ejercicio 3 - Decission trees.ipynb
-rw-r--r--   1 jaimevalero  staff  1738984 27 abr 16:58 Ejercicio 5 - Comparativa de clasificadores.ipynb
-rw-r--r--   1 jaimevalero  staff    25749 27 abr 16:58 Untitled.ipynb
drwxr-xr-x   7 jaimevalero  staff      224 27 abr 16:58 images
-rw-r--r--   1 jaimevalero  staff    94208 27 abr 16:58 jupyterhub.sqlite
-rw-r--r--   1 jaimevalero  staff       65 27 abr 16:58 jupyterhub_cookie_secret
-rw-r--r--   1 jaimevalero  staff      835 27 abr 21:21 tpot_iris_pipeline.py
-rw-r--r--   1 jaimevalero  staff    56243 29 abr 15:21 Ejercicio 1 - Primer modelo.ipynb
-rw-r--r--   1 jaimevalero  staff    29207  1 may 13:56 Keras_iris.ipynb
-rw-r--r--   1 jaimevalero  staff    22232  1 may 15:32 auto labelling.ipynb
-rw-r--r--   1 jaimevalero  staff        0  3 may 10:34 tree.png
-rw-r--r--   1 jaimevalero  staff  1791971  3 may 10:36 Ejercicio 2 - Feature importances.ipynb
-rw-r--r--   1 jaimevalero  staff        0  3 may 10:36 tree1-graphviz.png
-rw-r--r--   1 jaimevalero  staff   276228  3 may 11:09 Ejercicio 4 - Dealing with missing data.ipynb
-rw-r--r--   1 jaimevalero  staff   130544  3 may 11:36 Ejercicio 6 - Best Practices - Grid Search.ipynb
-rw-r--r--   1 jaimevalero  staff     5653  3 may 11:41 Ejercicio 7 - Best Practices - Auto select.ipynb
-rw-r--r--   1 jaimevalero  staff    66158  3 may 11:53 Ejercicio 8 - Best Practices - Ensembling.ipynb
-rw-r--r--   1 jaimevalero  staff    71779  3 may 12:07 Ejercicio 9 - Aprendizaje no supervisado - Clusterizacion.ipynb
-rw-r--r--   1 jaimevalero  staff   531069  3 may 12:23 Ejercicio 13 - Series temporales.ipynb
-rw-r--r--   1 jaimevalero  staff   297138  3 may 12:30 Ejercicio 11 - Fraud detection.ipynb
-rw-r--r--   1 jaimevalero  staff    12257  3 may 13:05 Untitled1.ipynb
-rw-r--r--   1 jaimevalero  staff   169022  4 may 13:34 Untitled2.ipynb
drwxr-xr-x  15 jaimevalero  staff      480  7 may 16:58 ..
drwxr-xr-x  17 jaimevalero  staff      544  7 may 17:43 datasets
-rw-r--r--   1 jaimevalero  staff    89824  7 may 21:44 Ejercicio 10 - Aprendizaje no supervisado - Basket Case Analisys.ipynb
lrwxr-xr-x   1 jaimevalero  staff       23 11 may 16:20 Introducción.ipynb -> ../code/ch01/ch01.ipynb
drwxr-xr-x  20 jaimevalero  staff      640 11 may 16:23 .ipynb_checkpoints
-rw-r--r--   1 jaimevalero  staff    46781 11 may 16:24 Ejercicio 0 - Manejo DataFrame.ipynb
drwxr-xr-x  31 jaimevalero  staff      992 11 may 16:24 .
head: equipos.csv: No such file or directory

In [9]:
#Coger las columnas
df.columns

Index(['Equipo', 'PJ', 'PG', 'PE', 'PP', 'GF', 'GC', 'DIF', 'PTS'], dtype='object')

In [10]:
# Coger los dos primeros campos
df.head(2)

            Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS
0        Barcelona  36  27   9   0  94  24   70   90
1  Atlético Madrid  36  22   9   5  55  20   35   75

In [11]:
# Coger una columna
df.Equipo.tail(5)

15       Levante
16       Leganés
17     Deportivo
18    Las Palmas
19        Málaga
Name: Equipo, dtype: object

In [8]:
# Crear una columna
df["Posicion"] = range(1,21)
df

             Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS  Posicion
0         Barcelona  31  24   7   0  79  16   63   79         1
1   Atlético Madrid  31  20   8   3  51  15   36   68         2
2          Valencia  31  20   5   6  59  31   28   65         3
3       Real Madrid  31  19   7   5  77  34   43   64         4
4             Betis  31  15   4  12  52  53   -1   49         5
5        Villarreal  31  14   5  12  41  37    4   47         6
6           Sevilla  31  14   4  13  39  50  -11   46         7
7            Girona  31  12   8  11  44  48   -4   44         8
8             Celta  31  12   7  12  50  43    7   43         9
9             Eibar  31  11   7  13  36  45   -9   40        10
10           Getafe  31  10   9  12  35  30    5   39        11
11         Athletic  31   9  12  10  33  35   -2   39        12
12    Real Sociedad  31  10   7  14  56  52    4   37        13
13          Leganés  31  10   6  15  26  39  -13   36        14
14         Espanyol  31   8  12  11  26  38  -12   36        15
15           Alavés  31  11   2  18  28  45  -17   35        16
16          Levante  31   6  13  12  28  45  -17   31        17
17        Deportivo  31   5   8  18  29  63  -34   23        18
18       Las Palmas  31   5   6  20  22  63  -41   21        19
19           Málaga  31   4   5  22  19  48  -29   17        20

In [13]:
# Coger rango de celdas por su posicion
df.iloc[0:5,0:3]

            Equipo  PJ  PG
0        Barcelona  31  24
1  Atlético Madrid  31  20
2         Valencia  31  20
3      Real Madrid  31  19
4            Betis  31  15

In [13]:
# Seleccionar filas según condiciones
# Coger solo aquellos equipos con mas goles a favor que en contra
df.loc[df['GF'] > df['GC']]

             Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS
0         Barcelona  36  27   9   0  94  24   70   90
1   Atlético Madrid  36  22   9   5  55  20   35   75
2       Real Madrid  36  21   9   6  86  42   44   72
3          Valencia  36  20   7   9  62  37   25   67
5        Villarreal  36  17   6  13  51  46    5   57
7            Getafe  36  14  10  12  41  32    9   52
10    Real Sociedad  36  13   7  16  63  56    7   46
11            Celta  36  12  10  14  55  52    3   46

In [14]:
# Primera fila
df.iloc[0]

Equipo    Barcelona
PJ               36
PG               27
PE                9
PP                0
GF               94
GC               24
DIF              70
PTS              90
Name: 0, dtype: object

In [32]:
# Volcar elemento a dicccionario 
dict = df.iloc[0].to_dict()
print(dict)

{'Equipo': 'Barcelona', 'PJ': 31, 'PG': 24, 'PE': 7, 'PP': 0, 'GF': 79, 'GC': 16, 'DIF': 63, 'PTS': 79}

In [15]:
# Creamos un nuevo elemento, tambien vía diccionario
# Primero creamos un diccionario
nuevo_equipo = {'Equipo': 'Broncos de Denver',
                'PJ': 1,
                'PG': 0, 
                'PE': 0,
                'PP': 1,
                'GF': 7, 
                'GC': 1, 
                'DIF': 6,
                'PTS': 3
               }


# Creamos un dataframe del dccionario
df_new_team = pd.DataFrame(nuevo_equipo, index=['21',])


df_new_team

    DIF             Equipo  GC  GF  PE  PG  PJ  PP  PTS
21    6  Broncos de Denver   1   7   0   0   1   1    3

In [48]:
# Concatenamos el nuevo diccionario
pd.concat([df, df_new_team], ignore_index=True)

    DIF             Equipo  GC  GF  PE  PG  PJ  PP  PTS
0    63          Barcelona  16  79   7  24  31   0   79
1    36    Atlético Madrid  15  51   8  20  31   3   68
2    28           Valencia  31  59   5  20  31   6   65
3    43        Real Madrid  34  77   7  19  31   5   64
4    -1              Betis  53  52   4  15  31  12   49
5     4         Villarreal  37  41   5  14  31  12   47
6   -11            Sevilla  50  39   4  14  31  13   46
7    -4             Girona  48  44   8  12  31  11   44
8     7              Celta  43  50   7  12  31  12   43
9    -9              Eibar  45  36   7  11  31  13   40
10    5             Getafe  30  35   9  10  31  12   39
11   -2           Athletic  35  33  12   9  31  10   39
12    4      Real Sociedad  52  56   7  10  31  14   37
13  -13            Leganés  39  26   6  10  31  15   36
14  -12           Espanyol  38  26  12   8  31  11   36
15  -17             Alavés  45  28   2  11  31  18   35
16  -17            Levante  45  28  13   6  31  12   31
17  -34          Deportivo  63  29   8   5  31  18   23
18  -41         Las Palmas  63  22   6   5  31  20   21
19  -29             Málaga  48  19   5   4  31  22   17
20    6  Broncos de Denver   1   7   0   0   1   1    3

### Ejercicio.
 
 - Añadir una columna resultado, que tenga los valores
 
 "Champions League" , para los 4 primeros
 "Europa League"    , Para los 2 siguientes
 "Descenso"         , para los 4 últimos
 "Zona fría"        , para los demas.